<div class="main-content">
    <div class="welcome-box">
        <h2>Taskly!</h2>
        <p>Your ultimate task management solution. Stay organized and on top of your tasks!</p>
        <a routerLink="/all-tasks" class="button">View Tasks</a>
    </div>
</div>

<div>
    <h3>Latest Tasks</h3>
    <div class="task-container" *ngIf="tasks.length > 0">
        <div class="task-card" *ngFor="let task of tasks | slice:0:3">
            <div class="task-details">
                <h3 class="task-title">{{task.title}}</h3>
                <p class="task-description"><strong>Description:</strong> {{task.description}}</p>
                <p class="task-due-date"><strong>Due Date:</strong> {{task.dueDate | date}}</p> 
                <a routerLink="/current-task/{{task._id}}" class="btn">View Details</a>
            </div>
        </div>
    </div>
    <div class="no-tasks-found" *ngIf="tasks.length === 0">
        No tasks found... Try adding your important tasks!
    </div>
</div>