<div class="container">
    <h2>Add Task</h2>
    <form [formGroup]="form" (ngSubmit)="createTask()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" formControlName="title">
        </div>

        <ng-container *ngIf="form.get('title')?.touched">
            <p class="error" *ngIf="form.get('title')?.errors?.['required']">Title is required!</p>
        </ng-container>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" formControlName="description"></textarea>
        </div>

        <ng-container *ngIf="form.get('description')?.touched">
            <p class="error" *ngIf="form.get('description')?.errors?.['required']">Description is required!</p>
        </ng-container>

        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" formControlName="dueDate" [min]="minDate" [max]="maxDate">
            <div *ngIf="form.get('dueDate')?.touched" class="error">
                <p *ngIf="form.get('dueDate')?.errors?.['required']">Due Date is required!</p>
                <p *ngIf="form.get('dueDate')?.errors?.['dateRange']">Due date must be between {{ minDate }} and {{ maxDate }}.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" formControlName="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>

        <ng-container *ngIf="form.get('priority')?.touched">
            <p class="error" *ngIf="form.get('priority')?.errors?.['required']">Priority is required!</p>
        </ng-container>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" formControlName="status">
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
            </select>
        </div>

        <ng-container *ngIf="form.get('status')?.touched">
            <p class="error" *ngIf="form.get('status')?.errors?.['required']">Status is required!</p>
        </ng-container>

        <div class="form-group">
            <button type="submit" class="button" [disabled]="form.invalid">Add Task</button>
        </div>
    </form>
</div>