.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    max-width: 700px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 4em;
    color: #3498db;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-top: 0.6em;
}

p {
    font-size: 1.1em;
    color: #555;
    margin-top: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}

li {
    margin-bottom: 10px;
}

.home-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
}