<h3>All Tasks</h3>
<div class="task-container" *ngIf="tasks.length > 0">
    <div class="task-card" *ngFor="let task of tasks">
        <div class="task-details">
            <h3 class="task-title">{{task.title}}</h3>
            <p class="task-description"><strong>Description:</strong> {{task.description}}</p>
            <p class="task-due-date"><strong>Due Date:</strong> {{task.dueDate | date}}</p> 
            <a routerLink="/current-task/{{task._id}}" class="btn">View Details</a>
        </div>
    </div>
</div>

<div class="no-tasks-container" *ngIf="!tasks.length">
    <div class="no-tasks-found">
        No tasks found...
    </div>
</div>